extends ./includes/layout

block header
    include ./includes/nav
block content
    .container
        .row.mt-3
            .col-2
            .col-8
                if breadcrumbs
                        nav(aria-label="breadcrumb")
                            ol.breadcrumb
                                each crumb,index in breadcrumbs
                                    if (index+1) == breadcrumbs.length
                                        li.breadcrumb-item.active(aria-current="page")= crumb.name
                                    else
                                        li.breadcrumb-item
                                            a(href=crumb.url)= crumb.name

                h2.display-3 How can We help you?
                p.lead Please read our FAQ to get your answer or connect with us.
                .card.text-center
                    .card-body
                        h4.card-title Am i eligible for taking exam?
                        p.card-text Yes, all user can participate in exam. But for that you have to #[a(href="/user/signup") signup].

                    .card-body
                        h4.card-title I can not login?
                        p.card-text Please, type email address and password correctly and ensure you type email address instead of username.
                    
                    .card-body
                        h4.card-title How can i contact with you?
                        p.card-text To contact with us. You can email us.
                            a.pl-2(href="mailto:help@onlinepgdexam.com?Subject=Help" target="_top") Send Mail  
            .col-2      