extends ../includes/layout

block header
    include ../includes/nav
block content
    .container
        .row
        .row.justify-content-center
            .col-6.my-2.border.border-light

                form(action="" method="post")
                    .row
                        .col
                            .alert.alert-danger Are you Sure to delete this Question? It will permanently delete this question.  
                    .row.justify-content-center
                        .col
                            a.mr-3.btn.btn-success.text-white(href='/question/editQuestion') No, I want to Go back
                            input(type="hidden" name="_csrf" value = csrfToken )
                            button.btn.btn-danger(type="submit") Yes, I want to delete